
    <!-- myprofile_head -->
<h2><span><i class="fas fa-user-cog"></i>&nbsp;$profile_info</span></h2>

<!-- END -->
<!-- myprofile_content -->
<script>
    <!--
    function chkFormular() {
        if (document.getElementById('nickname').value == "") {
            alert("$lang_you_have_to_nickname");
            document.getElementById('nickname').focus();
            return false;
        }

        if (document.getElementById('firstname').value == "") {
            alert("$lang_you_have_to_firstname");
            document.getElementById('firstname').focus();
            return false;
        }

        if (document.getElementById('bday').value == "") {
            alert("$lang_you_have_to_bday");
            document.getElementById('bday').focus();
            return false;
        }
        if (document.getElementById('accept_gdpr').checked) {
            return true;
          } else {
            alert("$lang_GDPRaccept");
            return false;
          }
          return false;

    }
    -->
</script>
<div class="card">
  <div class="card-body">

<form
    method="post"
    name="post"
    action="index.php?site=myprofile"
    enctype="multipart/form-data"
    onsubmit="return chkFormular()"
    class="form-horizontal"
    role="form">



<h5>$profile_info:</h5>

<p>$showerror</p>

<div class="row">

<div class="col-md-12">
    <div class="form-group">
        <label for="nickname" class="control-label">$nick_name:<font color="#DD0000">*</font></label>
        <input type="text" name="nickname" id="nickname" value="$nickname" maxlength="30" autocomplete="nickname" class="form-control">
        
    </div>
</div>




    
        <div class="col-md-4 text-center">
            **********<br>
            <a href="index.php?site=myprofile&amp;action=editpwd" class="btn btn-warning">$edit_password</a>
        </div>
        <div class="col-md-4 text-center">
            $email<br>
            <a href="index.php?site=myprofile&amp;action=editmail" title="$email" class="btn btn-warning">$edit_mail</a>
        </div>
        <div class="col-md-4 text-center">
            delete<br>
            <a href="index.php?site=myprofile&amp;action=deleteaccount" class="btn btn-danger">$del_acc</a>
        </div>
    
<div class="col-md-12"><br><br></div>   

 
   
     
        <div class="col-md-3">
            
            <div class="form-group">
                <label for="avatar" class="control-label">$viewavatar<br>
                <input name="delavatar" type="checkbox" value="1"> <small>$delete</small></label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <input name="avatar" type="file"><br><span class="help-block">$or</span>
                <input name="avatar_url" type="text" placeholder="http://" class="form-control">
                <span class="help-block">max: 100px / 100px</span>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="form-group">
                <label for="userpic" class="control-label">$viewpic<br>
                <input name="deluserpic" type="checkbox" value="1"> <small>$delete</small></label>
        </div></div>
        <div class="col-md-9">
                <input name="userpic" type="file"><br><span class="help-block">$or</span>
                <input name="userpic_url" type="text" placeholder="http://" class="form-control">
                <span class="help-block">max: 285px / 250px</span>
            </div></div>

    
    

    


    <div class="form-group">
        <label for="usertext" class="control-label">$signature:</label>
        <textarea class="ckeditor" id="ckeditor" name="usertext" cols="70" rows="5" class="form-control">$usertext</textarea>
    </div>

   

   
   <hr>
   <h5>$personal_info:</h5>

 <div class="row">   

    <div class="col-md-6">
        <div class="form-group">
            <label for="firstname" class="control-label">$first_name:<font color="#DD0000">*</font></label>
            <input
                type="text"
                name="firstname"
                id="firstname"
                value="$firstname"
                autocomplete="given-name"
                class="form-control">
        </div>
    </div>
    

<div class="col-md-6">
    <div class="form-group">
        <label for="lastname" class="control-label">$last_name:</label>

        <input id="lastname" type="text" name="lastname" value="$lastname" autocomplete="family-name"
                class="form-control">
        
    </div>
</div>    

<div class="col-md-6">
    <div class="form-group">
        <label for="town" class="control-label">$lang_town:</label>

        <input id="town" type="text" name="town" autocomplete="locality" value="$town" class="form-control">
        
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="bday" class="control-label">$date_of_birth:<font color="#DD0000">*</font></label>

        <input id="bday" class="form-control" placeholder="yyyy-mm-dd" value="$birthday" name="birthday" type="date">
        
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="sex" class="control-label">$sexuality:</label>

        <select id="sex" name="sex" class="form-control">$sex</select>
        
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="homepage" class="control-label">$home_page:</label>

        <input id="homepage" type="text" name="homepage" value="$homepage" class="form-control">
        
    </div>
</div>
</div>
    
    <div class="form-group">
        <label for="messageabout" class="control-label">$about_myself:</label>

        <textarea class="ckeditor" id="ckeditor" name="messageabout" cols="70" rows="5" class="form-control">$about</textarea>
        
    </div>
  

     
   <hr>
   

  <h5>$options:</h5>
<div class="row">  
<div class="col-md-6">
    <div class="form-group">
        <label for="language" class="control-label">$language:</label>

        <select id="language" name="language" class="form-control">$langdirs</select>
        
    </div>
    
    <div class="form-group">
        <label for="pm-mail" class="control-label">$mail_on_new_pm:</label>

        <select id="pm-mail" name="pm_mail" class="form-control">$pm_mail</select>
        
    </div>
    
    <div class="form-group">
        <label for="mail-hide" class="control-label">$hide_e-mail</label>

        <input id="mail-hide" type="checkbox" name="mail_hide" placeholder="1" $email_hide>
       

    </div>
  </div>

<div class="col-md-6">
    <div class="form-group">
        <label for="pm-format" class="control-label">$formatdate:</label>

        <select id="pm-format" name="date_format" class="form-control">$format_date</select>
        
    </div>
    
    <div class="form-group">
        <label for="format-time" class="control-label">$formattime:</label>

        <select id="format-time" name="time_format" class="form-control">$format_time</select>
        
    </div>
    <div class="col-md-6">
    <div class="form-group">
        <br>

        <div class="col-lg-9">
            <br>
        </div>
    </div>
</div>
</div>
</div>
     
   <hr>
    <h5>$social_media:</h5>

    <div class="row">


    <div class="col-md-6">
    <div class="form-group">
        <label for="twitch" class="control-label">$media_twitch:</label>

        <input id="twitch" type="text" name="twitch" value="$twitch" class="form-control">
        
    </div>
    
    <div class="form-group">
        <label for="youtube" class="control-label">$media_youtube:</label>

        <input id="youtube" type="text" name="youtube" value="$youtube" class="form-control">
        
    </div>
    
    <div class="form-group">
        <label for="twitter" class="control-label">$media_twitter:</label>

        <input id="twitter" type="text" name="twitter" value="$twitter" class="form-control">
        
    </div>
    </div>
    
    <div class="col-md-6">
    <div class="form-group">
        <label for="instagram" class="control-label">$media_instagram:</label>

        <input id="instagram" type="text" name="instagram" value="$instagram" class="form-control">
        
    </div>
    
    <div class="form-group">
        <label for="facebook" class="control-label">$media_facebook:</label>

        <input id="facebook" type="text" name="facebook" value="$facebook" class="form-control">
        
    </div>

    <div class="form-group">
        <label for="steam" class="control-label">$media_steam:</label>

        <input id="steam" type="text" name="steam" value="$steam" class="form-control">
        
    </div>
    </div>

    <div class="col-md-12">
       
         <b>$lang_hint </b><br />
          <blockquote>
            <input type="checkbox" class="form-check-input" id="accept_gdpr" value="0"> $lang_GDPRinfo <br /><br />
            <a class="btn btn-primary" href="index.php?site=privacy_policy">$lang_privacy_policy</a>
          </blockquote>
    
    <br />

    <div class="form-group">
        <div class="col-md-6"><font color="#DD0000">*</font>$fields_star_required</div>
        <div class="col-md-6 text-right">
            <input type="submit" name="submit" placeholder="$update_profile" class="btn btn-success">
        </div>
    </div>
    </div>
    
   </div>
</form>
</div></div>
<!-- END -->
<!-- myprofile_editpwd -->
<div class="card">
  <div class="card-body">
<h5>$edit_password:</h5>
<form method="post" action="index.php?site=myprofile" class="form-horizontal" role="form">
    

    <div class="form-group">
        <label for="oldpwd" class="col-lg-3 control-label">$old_password:</label>

        <div class="col-lg-9">
            <input type="password" name="oldpwd" id="oldpwd" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="pwd1" class="col-lg-3 control-label">$new_password:</label>

        <div class="col-lg-9">
            <input type="password" name="pwd1" id="pwd1" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="pwd2" class="col-lg-3 control-label">$repeat_new_password:</label>

        <div class="col-lg-9">
            <input type="password" name="pwd2" id="pwd2" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <a href="index.php?site=myprofile" class="btn btn-primary">
                <span class="icon icon-reply"></span> $back
            </a>
        </div>
        <div class="col-xs-6 text-right">
            <input type="hidden" name="id" placeholder="$userID">
            <input type="submit" name="savepwd" placeholder="$change_password" class="btn btn-danger">
        </div>
    </div>
</form>
</div></div>
<!-- END -->
<!-- myprofile_editmail -->
<div class="card">
  <div class="card-body">
<h5>$edit_mail:</h5>
<form method="post" action="index.php?site=myprofile" class="form-horizontal" role="form">
    

    <div class="form-group">
        <label for="oldpwd" class="col-lg-3 control-label">$password:</label>

        <div class="col-lg-9">
            <input type="password" name="oldpwd" id="oldpwd" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="mail1" class="col-lg-3 control-label">$new_email:</label>

        <div class="col-lg-9">
            <input type="email" name="mail1" id="mail1" autocomplete="email" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="mail2" class="col-lg-3 control-label">$repeat_new_email:</label>

        <div class="col-lg-9">
            <input type="email" name="mail2" id="mail2" autocomplete="email" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <a href="index.php?site=myprofile" class="btn btn-primary">
                <span class="icon icon-reply"></span> $back
            </a>
        </div>
        <div class="col-xs-6 text-right">
            <input type="hidden" name="userid" placeholder="$userID">
            <input type="submit" name="savemail" placeholder="$change_mail" class="btn btn-danger">
        </div>
    </div>
</form>
</div></div>
<!-- END -->
<!-- myprofile_deleteaccount -->
<div class="card">
  <div class="card-body">
<form method="post" action="index.php?site=myprofile" class="form-horizontal" role="form">
    $del_realy<br><br>

    <div class="form-group">
        <label for="pwd" class="control-label">$password:</label>

        <input type="password" name="pwd" id="pwd" class="form-control">
       
       
    </div>

    <div class="form-group">
        <div class="col-xs-1">
            <a href="index.php?site=myprofile" class="btn btn-primary">
                <span class="icon icon-reply"></span> $back
            </a>
        </div>
        <div class="col-xs-4 text-right">
            <input type="hidden" name="id" placeholder="$userID">
            <input type="submit" name="deleteAccount" placeholder="$del_acc" class="btn btn-danger">
        </div>
        <div class="col-lg-7"></div>
    </div>
</form>
</div></div>
<!-- END -->