@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Roboto+Mono);

html { width: 100%; height: 100%;}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  /*font-family: 'Open Sans',Helvetica,Arial,sans-serif;*/
  color: #4f5f6f;
  overflow-x: hidden;
  background-color: #3a4651; }
label{
  display:inline-block;
  max-width:100%;
  margin-bottom:5px;
  font-weight:100;
}
a{
  color:#999;
  text-decoration:none;
}
a:focus,a:hover{
  color:#fe821d;
  text-decoration:underline;
}
/* Navi */
.navbar-default .navbar-brand {
  font-size: 20px;
  background-color: #e7e7e7;
}
.navbar{background-color: #e7e7e7;}
.navbar-right .dropdown-menu{
  right:0;
  left:auto;
  border-radius: 0px;
}
.navbar-right .dropdown-menu-left{
  right:auto;
  left:0;
  color: #000;
}
.dropdown-toggle {
  color: #fff;
}


/* Button */
.btn {
  background-image: none;
  border-radius: 0;
  margin-bottom: 5px; }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #fe821d;
    border-color: #fe821d; }
    .btn.btn-primary:hover {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401; }
    .btn.btn-primary:focus, .btn.btn-primary.focus {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401; }
    .btn.btn-primary:active, .btn.btn-primary.active,
    .open > .btn.btn-primary.dropdown-toggle {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401;
      background-image: none; }
      .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus,
      .open > .btn.btn-primary.dropdown-toggle:hover,
      .open > .btn.btn-primary.dropdown-toggle:focus,
      .open > .btn.btn-primary.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #c45901;
        border-color: #9b4601; }
    .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus {
      background-color: #fe821d;
      border-color: #fe821d; }
    .btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
      background-color: #fe821d;
      border-color: #fe821d; }

.btn.btn-primary {
  border-radius: 0px;
}
.btn-default{
  border-radius: 0px;
}
.btn-success{
  border-radius: 0px;
}
.btn-info{
  border-radius: 0px;
}
.btn-warning{
  border-radius: 0px;
}
.btn-danger{
  border-radius: 0px;
}

/* Logo */
.img {
  max-width: 100%;
  width: 250px;
  height: 50px;
}
/* Spalten */
.bte {
  border-top: 1px solid #DDD;
  padding: 5px 0px;
  margin: 0px 10px;
}
.bt {
  border-top: 1px solid #DDD;
  padding: 5px 0px;
  margin: 0px 10px;
}
.bt:first-child {
  border-top: 0px;
}
.copy {
  font-size: 9px;
}

.profile_pic{
  width:35%;
  float:left;
}
.img-circle.profile_img{
  width:70%;
  
  margin-left:15%;
  z-index:1000;
  position:inherit;
  margin-top:20px;
  border:1px solid rgba(52,73,94,0.44);
  padding:1px;
}
/*.profile_info{
  padding:20px 10px 10px;
  width:65%;
  float:left;
}*/
.profile_info span{
  font-size:13px;
  line-height:30px;
  }
.profile_info h2{
  font-size:14px;
  margin:0;
  font-weight:300;
}
.color {
width: 100%;
max-width: 50px;
height: 34px;
border: 1px solid #000;
}

/* info */
/* card Design */
.card{margin-bottom: 10px;background-color: #ffffff;border:none;border-radius:0 0 0 0;box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,0.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1)}
.card .card-text{margin-bottom:1.5625rem}
.card a:hover{text-decoration:none}
.card-body{padding:1.875rem}
.card-title{font-weight:500;margin-bottom:.75rem}
.card-link{font-family:Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif}
.card-link+.card-link{margin-left:1.875rem}
.card>.list-group:first-child .list-group-item:first-child{border-top-left-radius:0;border-top-right-radius:0}
.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}
.card .list-group-item{padding:.8125rem 1.875rem}
.card-header{padding:1.09375rem 1.875rem;background-color:rgba(90,97,105,.06);border-bottom:none}
.card-header:first-child{border-radius:0 0 0 0}
.card-footer{padding:1.09375rem 1.875rem;background-color:rgba(90,97,105,.06);border-top:none}
.card-footer:last-child{border-radius:0 0 0 0}
.card-header-tabs{margin-bottom:-1rem;border-bottom:0}
.card-header-tabs .nav-link:hover{border-bottom:transparent}
.card-img-overlay{padding:1.875rem 2.1875rem;background:rgba(90,97,105,.5);border-radius:0}
.card-img-overlay .card-title{color:##333}
.card-img{border-radius:0}
.card-img-top{border-top-left-radius:0;border-top-right-radius:0}
.card-img-bottom{border-bottom-right-radius:0;border-bottom-left-radius:0}

/* Button */
.btn {
  background-image: none;
  border-radius: 0;
  margin-bottom: 5px; }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #fe821d;
    border-color: #fe821d; }
    .btn.btn-primary:hover {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401; }
    .btn.btn-primary:focus, .btn.btn-primary.focus {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401; }
    .btn.btn-primary:active, .btn.btn-primary.active,
    .open > .btn.btn-primary.dropdown-toggle {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401;
      background-image: none; }
      .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus,
      .open > .btn.btn-primary.dropdown-toggle:hover,
      .open > .btn.btn-primary.dropdown-toggle:focus,
      .open > .btn.btn-primary.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #c45901;
        border-color: #9b4601; }
    .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus {
      background-color: #fe821d;
      border-color: #fe821d; }
    .btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
      background-color: #fe821d;
      border-color: #fe821d; }

.btn.btn-primary {
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-secondary{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-success{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-info{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-warning{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-danger{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}



.bg-primary{background-color:#007bff!important}
a.bg-primary:focus,a.bg-primary:hover,button.bg-primary:focus,button.bg-primary:hover{background-color:#0062cc!important}
.bg-secondary{background-color:#6c757d!important}
a.bg-secondary:focus,a.bg-secondary:hover,button.bg-secondary:focus,button.bg-secondary:hover{background-color:#545b62!important}
.bg-success{background-color:#28a745!important}
a.bg-success:focus,a.bg-success:hover,button.bg-success:focus,button.bg-success:hover{background-color:#1e7e34!important}
.bg-info{background-color:#17a2b8!important}
a.bg-info:focus,a.bg-info:hover,button.bg-info:focus,button.bg-info:hover{background-color:#117a8b!important}
.bg-warning{background-color:#ffc107!important}
a.bg-warning:focus,a.bg-warning:hover,button.bg-warning:focus,button.bg-warning:hover{background-color:#d39e00!important}
.bg-danger{background-color:#dc3545!important}
a.bg-danger:focus,a.bg-danger:hover,button.bg-danger:focus,button.bg-danger:hover{background-color:#bd2130!important}
.bg-light{background-color:#f8f9fa!important}
a.bg-light:focus,a.bg-light:hover,button.bg-light:focus,button.bg-light:hover{background-color:#dae0e5!important}
.bg-dark{background-color:#343a40!important}
a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus,button.bg-dark:hover{background-color:#1d2124!important}
.bg-white{background-color:#fff!important}
.bg-transparent{background-color:transparent!important}

.custom {
    width: 98px !important;
}








.na1v{padding-left:0;margin-bottom:0;list-style:none}
.m-0{margin:0!important}
.mt-0,.my-0{margin-top:0!important}
.mr-0,.mx-0{margin-right:0!important}
.mb-0,.my-0{margin-bottom:0!important}
.ml-0,.mx-0{margin-left:0!important}
.m-1{margin:.25rem!important}
.mt-1,.my-1{margin-top:.25rem!important}
.mr-1,.mx-1{margin-right:.25rem!important}
.mb-1,.my-1{margin-bottom:.25rem!important}
.ml-1,.mx-1{margin-left:.25rem!important}
.m-2{margin:.5rem!important}
.mt-2,.my-2{margin-top:.5rem!important}
.mr-2,.mx-2{margin-right:.5rem!important}
.mb-2,.my-2{margin-bottom:.5rem!important}
.ml-2,.mx-2{margin-left:.5rem!important}
.m-3{margin:1rem!important}
.mt-3,.my-3{margin-top:1rem!important}
.mr-3,.mx-3{margin-right:1rem!important}
.mb-3,.my-3{margin-bottom:1rem!important}
.ml-3,.mx-3{margin-left:1rem!important}
.m-4{margin:1.5rem!important}
.mt-4,.my-4{margin-top:1.5rem!important}
.mr-4,.mx-4{margin-right:1.5rem!important}
.mb-4,.my-4{margin-bottom:1.5rem!important}
.ml-4,.mx-4{margin-left:1.5rem!important}
.m-5{margin:3rem!important}
.mt-5,.my-5{margin-top:3rem!important}
.mr-5,.mx-5{margin-right:3rem!important}
.mb-5,.my-5{margin-bottom:3rem!important}
.ml-5,.mx-5{margin-left:3rem!important}
.p-0{padding:0!important}
.pt-0,.py-0{padding-top:0!important}
.pr-0,.px-0{padding-right:0!important}
.pb-0,.py-0{padding-bottom:0!important}
.pl-0,.px-0{padding-left:0!important}
.p-1{padding:.25rem!important}
.pt-1,.py-1{padding-top:.25rem!important}
.pr-1,.px-1{padding-right:.25rem!important}
.pb-1,.py-1{padding-bottom:.25rem!important}
.pl-1,.px-1{padding-left:.25rem!important}
.p-2{padding:.5rem!important}
.pt-2,.py-2{padding-top:.5rem!important}
.pr-2,.px-2{padding-right:.5rem!important}
.pb-2,.py-2{padding-bottom:.5rem!important}
.pl-2,.px-2{padding-left:.5rem!important}
.p-3{padding:1rem!important}
.pt-3,.py-3{padding-top:1rem!important}
.pr-3,.px-3{padding-right:1rem!important}
.pb-3,.py-3{padding-bottom:1rem!important}
.pl-3,.px-3{padding-left:1rem!important}
.p-4{padding:1.5rem!important}
.pt-4,.py-4{padding-top:1.5rem!important}
.pr-4,.px-4{padding-right:1.5rem!important}
.pb-4,.py-4{padding-bottom:1.5rem!important}
.pl-4,.px-4{padding-left:1.5rem!important}
.p-5{padding:3rem!important}
.pt-5,.py-5{padding-top:3rem!important}
.pr-5,.px-5{padding-right:3rem!important}
.pb-5,.py-5{padding-bottom:3rem!important}
.pl-5,.px-5{padding-left:3rem!important}
.m-n1{margin:-.25rem!important}
.mt-n1,.my-n1{margin-top:-.25rem!important}
.mr-n1,.mx-n1{margin-right:-.25rem!important}
.mb-n1,.my-n1{margin-bottom:-.25rem!important}
.ml-n1,.mx-n1{margin-left:-.25rem!important}
.m-n2{margin:-.5rem!important}
.mt-n2,.my-n2{margin-top:-.5rem!important}
.mr-n2,.mx-n2{margin-right:-.5rem!important}
.mb-n2,.my-n2{margin-bottom:-.5rem!important}
.ml-n2,.mx-n2{margin-left:-.5rem!important}
.m-n3{margin:-1rem!important}
.mt-n3,.my-n3{margin-top:-1rem!important}
.mr-n3,.mx-n3{margin-right:-1rem!important}
.mb-n3,.my-n3{margin-bottom:-1rem!important}
.ml-n3,.mx-n3{margin-left:-1rem!important}
.m-n4{margin:-1.5rem!important}
.mt-n4,.my-n4{margin-top:-1.5rem!important}
.mr-n4,.mx-n4{margin-right:-1.5rem!important}
.mb-n4,.my-n4{margin-bottom:-1.5rem!important}
.ml-n4,.mx-n4{margin-left:-1.5rem!important}
.m-n5{margin:-3rem!important}
.mt-n5,.my-n5{margin-top:-3rem!important}
.mr-n5,.mx-n5{margin-right:-3rem!important}
.mb-n5,.my-n5{margin-bottom:-3rem!important}
.ml-n5,.mx-n5{margin-left:-3rem!important}
.m-auto{margin:auto!important}
.mt-auto,.my-auto{margin-top:auto!important}
.mr-auto,.mx-auto{margin-right:auto!important}
.mb-auto,.my-auto{margin-bottom:auto!important}
.ml-auto,.mx-auto{margin-left:auto!important}
@media (min-width:576px){.m-sm-0{margin:0!important}
.mt-sm-0,.my-sm-0{margin-top:0!important}
.mr-sm-0,.mx-sm-0{margin-right:0!important}
.mb-sm-0,.my-sm-0{margin-bottom:0!important}
.ml-sm-0,.mx-sm-0{margin-left:0!important}
.m-sm-1{margin:.25rem!important}
.mt-sm-1,.my-sm-1{margin-top:.25rem!important}
.mr-sm-1,.mx-sm-1{margin-right:.25rem!important}
.mb-sm-1,.my-sm-1{margin-bottom:.25rem!important}
.ml-sm-1,.mx-sm-1{margin-left:.25rem!important}
.m-sm-2{margin:.5rem!important}
.mt-sm-2,.my-sm-2{margin-top:.5rem!important}
.mr-sm-2,.mx-sm-2{margin-right:.5rem!important}
.mb-sm-2,.my-sm-2{margin-bottom:.5rem!important}
.ml-sm-2,.mx-sm-2{margin-left:.5rem!important}
.m-sm-3{margin:1rem!important}
.mt-sm-3,.my-sm-3{margin-top:1rem!important}
.mr-sm-3,.mx-sm-3{margin-right:1rem!important}
.mb-sm-3,.my-sm-3{margin-bottom:1rem!important}
.ml-sm-3,.mx-sm-3{margin-left:1rem!important}
.m-sm-4{margin:1.5rem!important}
.mt-sm-4,.my-sm-4{margin-top:1.5rem!important}
.mr-sm-4,.mx-sm-4{margin-right:1.5rem!important}
.mb-sm-4,.my-sm-4{margin-bottom:1.5rem!important}
.ml-sm-4,.mx-sm-4{margin-left:1.5rem!important}
.m-sm-5{margin:3rem!important}
.mt-sm-5,.my-sm-5{margin-top:3rem!important}
.mr-sm-5,.mx-sm-5{margin-right:3rem!important}
.mb-sm-5,.my-sm-5{margin-bottom:3rem!important}
.ml-sm-5,.mx-sm-5{margin-left:3rem!important}
.p-sm-0{padding:0!important}
.pt-sm-0,.py-sm-0{padding-top:0!important}
.pr-sm-0,.px-sm-0{padding-right:0!important}
.pb-sm-0,.py-sm-0{padding-bottom:0!important}
.pl-sm-0,.px-sm-0{padding-left:0!important}
.p-sm-1{padding:.25rem!important}
.pt-sm-1,.py-sm-1{padding-top:.25rem!important}
.pr-sm-1,.px-sm-1{padding-right:.25rem!important}
.pb-sm-1,.py-sm-1{padding-bottom:.25rem!important}
.pl-sm-1,.px-sm-1{padding-left:.25rem!important}
.p-sm-2{padding:.5rem!important}
.pt-sm-2,.py-sm-2{padding-top:.5rem!important}
.pr-sm-2,.px-sm-2{padding-right:.5rem!important}
.pb-sm-2,.py-sm-2{padding-bottom:.5rem!important}
.pl-sm-2,.px-sm-2{padding-left:.5rem!important}
.p-sm-3{padding:1rem!important}
.pt-sm-3,.py-sm-3{padding-top:1rem!important}
.pr-sm-3,.px-sm-3{padding-right:1rem!important}
.pb-sm-3,.py-sm-3{padding-bottom:1rem!important}
.pl-sm-3,.px-sm-3{padding-left:1rem!important}
.p-sm-4{padding:1.5rem!important}
.pt-sm-4,.py-sm-4{padding-top:1.5rem!important}
.pr-sm-4,.px-sm-4{padding-right:1.5rem!important}
.pb-sm-4,.py-sm-4{padding-bottom:1.5rem!important}
.pl-sm-4,.px-sm-4{padding-left:1.5rem!important}
.p-sm-5{padding:3rem!important}
.pt-sm-5,.py-sm-5{padding-top:3rem!important}
.pr-sm-5,.px-sm-5{padding-right:3rem!important}
.pb-sm-5,.py-sm-5{padding-bottom:3rem!important}
.pl-sm-5,.px-sm-5{padding-left:3rem!important}
.m-sm-n1{margin:-.25rem!important}
.mt-sm-n1,.my-sm-n1{margin-top:-.25rem!important}
.mr-sm-n1,.mx-sm-n1{margin-right:-.25rem!important}
.mb-sm-n1,.my-sm-n1{margin-bottom:-.25rem!important}
.ml-sm-n1,.mx-sm-n1{margin-left:-.25rem!important}
.m-sm-n2{margin:-.5rem!important}
.mt-sm-n2,.my-sm-n2{margin-top:-.5rem!important}
.mr-sm-n2,.mx-sm-n2{margin-right:-.5rem!important}
.mb-sm-n2,.my-sm-n2{margin-bottom:-.5rem!important}
.ml-sm-n2,.mx-sm-n2{margin-left:-.5rem!important}
.m-sm-n3{margin:-1rem!important}
.mt-sm-n3,.my-sm-n3{margin-top:-1rem!important}
.mr-sm-n3,.mx-sm-n3{margin-right:-1rem!important}
.mb-sm-n3,.my-sm-n3{margin-bottom:-1rem!important}
.ml-sm-n3,.mx-sm-n3{margin-left:-1rem!important}
.m-sm-n4{margin:-1.5rem!important}
.mt-sm-n4,.my-sm-n4{margin-top:-1.5rem!important}
.mr-sm-n4,.mx-sm-n4{margin-right:-1.5rem!important}
.mb-sm-n4,.my-sm-n4{margin-bottom:-1.5rem!important}
.ml-sm-n4,.mx-sm-n4{margin-left:-1.5rem!important}
.m-sm-n5{margin:-3rem!important}
.mt-sm-n5,.my-sm-n5{margin-top:-3rem!important}
.mr-sm-n5,.mx-sm-n5{margin-right:-3rem!important}
.mb-sm-n5,.my-sm-n5{margin-bottom:-3rem!important}
.ml-sm-n5,.mx-sm-n5{margin-left:-3rem!important}
.m-sm-auto{margin:auto!important}
.mt-sm-auto,.my-sm-auto{margin-top:auto!important}
.mr-sm-auto,.mx-sm-auto{margin-right:auto!important}
.mb-sm-auto,.my-sm-auto{margin-bottom:auto!important}
.ml-sm-auto,.mx-sm-auto{margin-left:auto!important}
}
@media (min-width:768px){.m-md-0{margin:0!important}
.mt-md-0,.my-md-0{margin-top:0!important}
.mr-md-0,.mx-md-0{margin-right:0!important}
.mb-md-0,.my-md-0{margin-bottom:0!important}
.ml-md-0,.mx-md-0{margin-left:0!important}
.m-md-1{margin:.25rem!important}
.mt-md-1,.my-md-1{margin-top:.25rem!important}
.mr-md-1,.mx-md-1{margin-right:.25rem!important}
.mb-md-1,.my-md-1{margin-bottom:.25rem!important}
.ml-md-1,.mx-md-1{margin-left:.25rem!important}
.m-md-2{margin:.5rem!important}
.mt-md-2,.my-md-2{margin-top:.5rem!important}
.mr-md-2,.mx-md-2{margin-right:.5rem!important}
.mb-md-2,.my-md-2{margin-bottom:.5rem!important}
.ml-md-2,.mx-md-2{margin-left:.5rem!important}
.m-md-3{margin:1rem!important}
.mt-md-3,.my-md-3{margin-top:1rem!important}
.mr-md-3,.mx-md-3{margin-right:1rem!important}
.mb-md-3,.my-md-3{margin-bottom:1rem!important}
.ml-md-3,.mx-md-3{margin-left:1rem!important}
.m-md-4{margin:1.5rem!important}
.mt-md-4,.my-md-4{margin-top:1.5rem!important}
.mr-md-4,.mx-md-4{margin-right:1.5rem!important}
.mb-md-4,.my-md-4{margin-bottom:1.5rem!important}
.ml-md-4,.mx-md-4{margin-left:1.5rem!important}
.m-md-5{margin:3rem!important}
.mt-md-5,.my-md-5{margin-top:3rem!important}
.mr-md-5,.mx-md-5{margin-right:3rem!important}
.mb-md-5,.my-md-5{margin-bottom:3rem!important}
.ml-md-5,.mx-md-5{margin-left:3rem!important}
.p-md-0{padding:0!important}
.pt-md-0,.py-md-0{padding-top:0!important}
.pr-md-0,.px-md-0{padding-right:0!important}
.pb-md-0,.py-md-0{padding-bottom:0!important}
.pl-md-0,.px-md-0{padding-left:0!important}
.p-md-1{padding:.25rem!important}
.pt-md-1,.py-md-1{padding-top:.25rem!important}
.pr-md-1,.px-md-1{padding-right:.25rem!important}
.pb-md-1,.py-md-1{padding-bottom:.25rem!important}
.pl-md-1,.px-md-1{padding-left:.25rem!important}
.p-md-2{padding:.5rem!important}
.pt-md-2,.py-md-2{padding-top:.5rem!important}
.pr-md-2,.px-md-2{padding-right:.5rem!important}
.pb-md-2,.py-md-2{padding-bottom:.5rem!important}
.pl-md-2,.px-md-2{padding-left:.5rem!important}
.p-md-3{padding:1rem!important}
.pt-md-3,.py-md-3{padding-top:1rem!important}
.pr-md-3,.px-md-3{padding-right:1rem!important}
.pb-md-3,.py-md-3{padding-bottom:1rem!important}
.pl-md-3,.px-md-3{padding-left:1rem!important}
.p-md-4{padding:1.5rem!important}
.pt-md-4,.py-md-4{padding-top:1.5rem!important}
.pr-md-4,.px-md-4{padding-right:1.5rem!important}
.pb-md-4,.py-md-4{padding-bottom:1.5rem!important}
.pl-md-4,.px-md-4{padding-left:1.5rem!important}
.p-md-5{padding:3rem!important}
.pt-md-5,.py-md-5{padding-top:3rem!important}
.pr-md-5,.px-md-5{padding-right:3rem!important}
.pb-md-5,.py-md-5{padding-bottom:3rem!important}
.pl-md-5,.px-md-5{padding-left:3rem!important}
.m-md-n1{margin:-.25rem!important}
.mt-md-n1,.my-md-n1{margin-top:-.25rem!important}
.mr-md-n1,.mx-md-n1{margin-right:-.25rem!important}
.mb-md-n1,.my-md-n1{margin-bottom:-.25rem!important}
.ml-md-n1,.mx-md-n1{margin-left:-.25rem!important}
.m-md-n2{margin:-.5rem!important}
.mt-md-n2,.my-md-n2{margin-top:-.5rem!important}
.mr-md-n2,.mx-md-n2{margin-right:-.5rem!important}
.mb-md-n2,.my-md-n2{margin-bottom:-.5rem!important}
.ml-md-n2,.mx-md-n2{margin-left:-.5rem!important}
.m-md-n3{margin:-1rem!important}
.mt-md-n3,.my-md-n3{margin-top:-1rem!important}
.mr-md-n3,.mx-md-n3{margin-right:-1rem!important}
.mb-md-n3,.my-md-n3{margin-bottom:-1rem!important}
.ml-md-n3,.mx-md-n3{margin-left:-1rem!important}
.m-md-n4{margin:-1.5rem!important}
.mt-md-n4,.my-md-n4{margin-top:-1.5rem!important}
.mr-md-n4,.mx-md-n4{margin-right:-1.5rem!important}
.mb-md-n4,.my-md-n4{margin-bottom:-1.5rem!important}
.ml-md-n4,.mx-md-n4{margin-left:-1.5rem!important}
.m-md-n5{margin:-3rem!important}
.mt-md-n5,.my-md-n5{margin-top:-3rem!important}
.mr-md-n5,.mx-md-n5{margin-right:-3rem!important}
.mb-md-n5,.my-md-n5{margin-bottom:-3rem!important}
.ml-md-n5,.mx-md-n5{margin-left:-3rem!important}
.m-md-auto{margin:auto!important}
.mt-md-auto,.my-md-auto{margin-top:auto!important}
.mr-md-auto,.mx-md-auto{margin-right:auto!important}
.mb-md-auto,.my-md-auto{margin-bottom:auto!important}
.ml-md-auto,.mx-md-auto{margin-left:auto!important}
}
@media (min-width:992px){.m-lg-0{margin:0!important}
.mt-lg-0,.my-lg-0{margin-top:0!important}
.mr-lg-0,.mx-lg-0{margin-right:0!important}
.mb-lg-0,.my-lg-0{margin-bottom:0!important}
.ml-lg-0,.mx-lg-0{margin-left:0!important}
.m-lg-1{margin:.25rem!important}
.mt-lg-1,.my-lg-1{margin-top:.25rem!important}
.mr-lg-1,.mx-lg-1{margin-right:.25rem!important}
.mb-lg-1,.my-lg-1{margin-bottom:.25rem!important}
.ml-lg-1,.mx-lg-1{margin-left:.25rem!important}
.m-lg-2{margin:.5rem!important}
.mt-lg-2,.my-lg-2{margin-top:.5rem!important}
.mr-lg-2,.mx-lg-2{margin-right:.5rem!important}
.mb-lg-2,.my-lg-2{margin-bottom:.5rem!important}
.ml-lg-2,.mx-lg-2{margin-left:.5rem!important}
.m-lg-3{margin:1rem!important}
.mt-lg-3,.my-lg-3{margin-top:1rem!important}
.mr-lg-3,.mx-lg-3{margin-right:1rem!important}
.mb-lg-3,.my-lg-3{margin-bottom:1rem!important}
.ml-lg-3,.mx-lg-3{margin-left:1rem!important}
.m-lg-4{margin:1.5rem!important}
.mt-lg-4,.my-lg-4{margin-top:1.5rem!important}
.mr-lg-4,.mx-lg-4{margin-right:1.5rem!important}
.mb-lg-4,.my-lg-4{margin-bottom:1.5rem!important}
.ml-lg-4,.mx-lg-4{margin-left:1.5rem!important}
.m-lg-5{margin:3rem!important}
.mt-lg-5,.my-lg-5{margin-top:3rem!important}
.mr-lg-5,.mx-lg-5{margin-right:3rem!important}
.mb-lg-5,.my-lg-5{margin-bottom:3rem!important}
.ml-lg-5,.mx-lg-5{margin-left:3rem!important}
.p-lg-0{padding:0!important}
.pt-lg-0,.py-lg-0{padding-top:0!important}
.pr-lg-0,.px-lg-0{padding-right:0!important}
.pb-lg-0,.py-lg-0{padding-bottom:0!important}
.pl-lg-0,.px-lg-0{padding-left:0!important}
.p-lg-1{padding:.25rem!important}
.pt-lg-1,.py-lg-1{padding-top:.25rem!important}
.pr-lg-1,.px-lg-1{padding-right:.25rem!important}
.pb-lg-1,.py-lg-1{padding-bottom:.25rem!important}
.pl-lg-1,.px-lg-1{padding-left:.25rem!important}
.p-lg-2{padding:.5rem!important}
.pt-lg-2,.py-lg-2{padding-top:.5rem!important}
.pr-lg-2,.px-lg-2{padding-right:.5rem!important}
.pb-lg-2,.py-lg-2{padding-bottom:.5rem!important}
.pl-lg-2,.px-lg-2{padding-left:.5rem!important}
.p-lg-3{padding:1rem!important}
.pt-lg-3,.py-lg-3{padding-top:1rem!important}
.pr-lg-3,.px-lg-3{padding-right:1rem!important}
.pb-lg-3,.py-lg-3{padding-bottom:1rem!important}
.pl-lg-3,.px-lg-3{padding-left:1rem!important}
.p-lg-4{padding:1.5rem!important}
.pt-lg-4,.py-lg-4{padding-top:1.5rem!important}
.pr-lg-4,.px-lg-4{padding-right:1.5rem!important}
.pb-lg-4,.py-lg-4{padding-bottom:1.5rem!important}
.pl-lg-4,.px-lg-4{padding-left:1.5rem!important}
.p-lg-5{padding:3rem!important}
.pt-lg-5,.py-lg-5{padding-top:3rem!important}
.pr-lg-5,.px-lg-5{padding-right:3rem!important}
.pb-lg-5,.py-lg-5{padding-bottom:3rem!important}
.pl-lg-5,.px-lg-5{padding-left:3rem!important}
.m-lg-n1{margin:-.25rem!important}
.mt-lg-n1,.my-lg-n1{margin-top:-.25rem!important}
.mr-lg-n1,.mx-lg-n1{margin-right:-.25rem!important}
.mb-lg-n1,.my-lg-n1{margin-bottom:-.25rem!important}
.ml-lg-n1,.mx-lg-n1{margin-left:-.25rem!important}
.m-lg-n2{margin:-.5rem!important}
.mt-lg-n2,.my-lg-n2{margin-top:-.5rem!important}
.mr-lg-n2,.mx-lg-n2{margin-right:-.5rem!important}
.mb-lg-n2,.my-lg-n2{margin-bottom:-.5rem!important}
.ml-lg-n2,.mx-lg-n2{margin-left:-.5rem!important}
.m-lg-n3{margin:-1rem!important}
.mt-lg-n3,.my-lg-n3{margin-top:-1rem!important}
.mr-lg-n3,.mx-lg-n3{margin-right:-1rem!important}
.mb-lg-n3,.my-lg-n3{margin-bottom:-1rem!important}
.ml-lg-n3,.mx-lg-n3{margin-left:-1rem!important}
.m-lg-n4{margin:-1.5rem!important}
.mt-lg-n4,.my-lg-n4{margin-top:-1.5rem!important}
.mr-lg-n4,.mx-lg-n4{margin-right:-1.5rem!important}
.mb-lg-n4,.my-lg-n4{margin-bottom:-1.5rem!important}
.ml-lg-n4,.mx-lg-n4{margin-left:-1.5rem!important}
.m-lg-n5{margin:-3rem!important}
.mt-lg-n5,.my-lg-n5{margin-top:-3rem!important}
.mr-lg-n5,.mx-lg-n5{margin-right:-3rem!important}
.mb-lg-n5,.my-lg-n5{margin-bottom:-3rem!important}
.ml-lg-n5,.mx-lg-n5{margin-left:-3rem!important}
.m-lg-auto{margin:auto!important}
.mt-lg-auto,.my-lg-auto{margin-top:auto!important}
.mr-lg-auto,.mx-lg-auto{margin-right:auto!important}
.mb-lg-auto,.my-lg-auto{margin-bottom:auto!important}
.ml-lg-auto,.mx-lg-auto{margin-left:auto!important}
}
@media (min-width:1200px){.m-xl-0{margin:0!important}
.mt-xl-0,.my-xl-0{margin-top:0!important}
.mr-xl-0,.mx-xl-0{margin-right:0!important}
.mb-xl-0,.my-xl-0{margin-bottom:0!important}
.ml-xl-0,.mx-xl-0{margin-left:0!important}
.m-xl-1{margin:.25rem!important}
.mt-xl-1,.my-xl-1{margin-top:.25rem!important}
.mr-xl-1,.mx-xl-1{margin-right:.25rem!important}
.mb-xl-1,.my-xl-1{margin-bottom:.25rem!important}
.ml-xl-1,.mx-xl-1{margin-left:.25rem!important}
.m-xl-2{margin:.5rem!important}
.mt-xl-2,.my-xl-2{margin-top:.5rem!important}
.mr-xl-2,.mx-xl-2{margin-right:.5rem!important}
.mb-xl-2,.my-xl-2{margin-bottom:.5rem!important}
.ml-xl-2,.mx-xl-2{margin-left:.5rem!important}
.m-xl-3{margin:1rem!important}
.mt-xl-3,.my-xl-3{margin-top:1rem!important}
.mr-xl-3,.mx-xl-3{margin-right:1rem!important}
.mb-xl-3,.my-xl-3{margin-bottom:1rem!important}
.ml-xl-3,.mx-xl-3{margin-left:1rem!important}
.m-xl-4{margin:1.5rem!important}
.mt-xl-4,.my-xl-4{margin-top:1.5rem!important}
.mr-xl-4,.mx-xl-4{margin-right:1.5rem!important}
.mb-xl-4,.my-xl-4{margin-bottom:1.5rem!important}
.ml-xl-4,.mx-xl-4{margin-left:1.5rem!important}
.m-xl-5{margin:3rem!important}
.mt-xl-5,.my-xl-5{margin-top:3rem!important}
.mr-xl-5,.mx-xl-5{margin-right:3rem!important}
.mb-xl-5,.my-xl-5{margin-bottom:3rem!important}
.ml-xl-5,.mx-xl-5{margin-left:3rem!important}
.p-xl-0{padding:0!important}
.pt-xl-0,.py-xl-0{padding-top:0!important}
.pr-xl-0,.px-xl-0{padding-right:0!important}
.pb-xl-0,.py-xl-0{padding-bottom:0!important}
.pl-xl-0,.px-xl-0{padding-left:0!important}
.p-xl-1{padding:.25rem!important}
.pt-xl-1,.py-xl-1{padding-top:.25rem!important}
.pr-xl-1,.px-xl-1{padding-right:.25rem!important}
.pb-xl-1,.py-xl-1{padding-bottom:.25rem!important}
.pl-xl-1,.px-xl-1{padding-left:.25rem!important}
.p-xl-2{padding:.5rem!important}
.pt-xl-2,.py-xl-2{padding-top:.5rem!important}
.pr-xl-2,.px-xl-2{padding-right:.5rem!important}
.pb-xl-2,.py-xl-2{padding-bottom:.5rem!important}
.pl-xl-2,.px-xl-2{padding-left:.5rem!important}
.p-xl-3{padding:1rem!important}
.pt-xl-3,.py-xl-3{padding-top:1rem!important}
.pr-xl-3,.px-xl-3{padding-right:1rem!important}
.pb-xl-3,.py-xl-3{padding-bottom:1rem!important}
.pl-xl-3,.px-xl-3{padding-left:1rem!important}
.p-xl-4{padding:1.5rem!important}
.pt-xl-4,.py-xl-4{padding-top:1.5rem!important}
.pr-xl-4,.px-xl-4{padding-right:1.5rem!important}
.pb-xl-4,.py-xl-4{padding-bottom:1.5rem!important}
.pl-xl-4,.px-xl-4{padding-left:1.5rem!important}
.p-xl-5{padding:3rem!important}
.pt-xl-5,.py-xl-5{padding-top:3rem!important}
.pr-xl-5,.px-xl-5{padding-right:3rem!important}
.pb-xl-5,.py-xl-5{padding-bottom:3rem!important}
.pl-xl-5,.px-xl-5{padding-left:3rem!important}
.m-xl-n1{margin:-.25rem!important}
.mt-xl-n1,.my-xl-n1{margin-top:-.25rem!important}
.mr-xl-n1,.mx-xl-n1{margin-right:-.25rem!important}
.mb-xl-n1,.my-xl-n1{margin-bottom:-.25rem!important}
.ml-xl-n1,.mx-xl-n1{margin-left:-.25rem!important}
.m-xl-n2{margin:-.5rem!important}
.mt-xl-n2,.my-xl-n2{margin-top:-.5rem!important}
.mr-xl-n2,.mx-xl-n2{margin-right:-.5rem!important}
.mb-xl-n2,.my-xl-n2{margin-bottom:-.5rem!important}
.ml-xl-n2,.mx-xl-n2{margin-left:-.5rem!important}
.m-xl-n3{margin:-1rem!important}
.mt-xl-n3,.my-xl-n3{margin-top:-1rem!important}
.mr-xl-n3,.mx-xl-n3{margin-right:-1rem!important}
.mb-xl-n3,.my-xl-n3{margin-bottom:-1rem!important}
.ml-xl-n3,.mx-xl-n3{margin-left:-1rem!important}
.m-xl-n4{margin:-1.5rem!important}
.mt-xl-n4,.my-xl-n4{margin-top:-1.5rem!important}
.mr-xl-n4,.mx-xl-n4{margin-right:-1.5rem!important}
.mb-xl-n4,.my-xl-n4{margin-bottom:-1.5rem!important}
.ml-xl-n4,.mx-xl-n4{margin-left:-1.5rem!important}
.m-xl-n5{margin:-3rem!important}
.mt-xl-n5,.my-xl-n5{margin-top:-3rem!important}
.mr-xl-n5,.mx-xl-n5{margin-right:-3rem!important}
.mb-xl-n5,.my-xl-n5{margin-bottom:-3rem!important}
.ml-xl-n5,.mx-xl-n5{margin-left:-3rem!important}
.m-xl-auto{margin:auto!important}
.mt-xl-auto,.my-xl-auto{margin-top:auto!important}
.mr-xl-auto,.mx-xl-auto{margin-right:auto!important}
.mb-xl-auto,.my-xl-auto{margin-bottom:auto!important}
.ml-xl-auto,.mx-xl-auto{margin-left:auto!important}
}

.text-monospace{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important}
.text-justify{text-align:justify!important}
.text-wrap{white-space:normal!important}
.text-nowrap{white-space:nowrap!important}
.text-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}
@media (min-width:576px){.text-sm-left{text-align:left!important}
.text-sm-right{text-align:right!important}
.text-sm-center{text-align:center!important}
}
@media (min-width:768px){.text-md-left{text-align:left!important}
.text-md-right{text-align:right!important}
.text-md-center{text-align:center!important}
}
@media (min-width:992px){.text-lg-left{text-align:left!important}
.text-lg-right{text-align:right!important}
.text-lg-center{text-align:center!important}
}
@media (min-width:1200px){.text-xl-left{text-align:left!important}
.text-xl-right{text-align:right!important}
.text-xl-center{text-align:center!important}
}
.text-lowercase{text-transform:lowercase!important}
.text-uppercase{text-transform:uppercase!important}
.text-capitalize{text-transform:capitalize!important}
.font-weight-light{font-weight:300!important}
.font-weight-lighter{font-weight:lighter!important}
.font-weight-normal{font-weight:400!important}
.font-weight-bold{font-weight:700!important}
.font-weight-bolder{font-weight:bolder!important}
.font-italic{font-style:italic!important}
.text-white{color:#fff!important}
.text-primary{color:#007bff!important}
a.text-primary:focus,a.text-primary:hover{color:#0056b3!important}
.text-secondary{color:#6c757d!important}
a.text-secondary:focus,a.text-secondary:hover{color:#494f54!important}
.text-success{color:#28a745!important}
a.text-success:focus,a.text-success:hover{color:#19692c!important}
.text-info{color:#17a2b8!important}
a.text-info:focus,a.text-info:hover{color:#0f6674!important}
.text-warning{color:#ffc107!important}
a.text-warning:focus,a.text-warning:hover{color:#ba8b00!important}
.text-danger{color:#dc3545!important}
a.text-danger:focus,a.text-danger:hover{color:#a71d2a!important}
.text-light{color:#f8f9fa!important}
a.text-light:focus,a.text-light:hover{color:#cbd3da!important}
.text-dark{color:#343a40!important}
a.text-dark:focus,a.text-dark:hover{color:#121416!important}
.text-body{color:#212529!important}
.text-muted{color:#6c757d!important}
.text-black-50{color:rgba(0,0,0,.5)!important}
.text-white-50{color:rgba(255,255,255,.5)!important}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.text-decoration-none{text-decoration:none!important}
.text-break{word-break:break-word!important;overflow-wrap:break-word!important}
.text-reset{color:inherit!important}


.table{width:100%;margin-bottom:1rem;color:#212529}
.table td,.table th{padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6}
.table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6}
.table tbody+tbody{border-top:2px solid #dee2e6}
.table-sm td,.table-sm th{padding:.3rem}
.table-bordered{border:1px solid #dee2e6}
.table-bordered td,.table-bordered th{border:1px solid #dee2e6}
.table-bordered thead td,.table-bordered thead th{border-bottom-width:2px}
.table-borderless tbody+tbody,.table-borderless td,.table-borderless th,.table-borderless thead th{border:0}
.table-striped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,.05)}
.table-hover tbody tr:hover{color:#212529;background-color:rgba(0,0,0,.075)}
.table-primary,.table-primary>td,.table-primary>th{background-color:#b8daff}
.table-primary tbody+tbody,.table-primary td,.table-primary th,.table-primary thead th{border-color:#7abaff}
.table-hover .table-primary:hover{background-color:#9fcdff}
.table-hover .table-primary:hover>td,.table-hover .table-primary:hover>th{background-color:#9fcdff}
.table-secondary,.table-secondary>td,.table-secondary>th{background-color:#d6d8db}
.table-secondary tbody+tbody,.table-secondary td,.table-secondary th,.table-secondary thead th{border-color:#b3b7bb}
.table-hover .table-secondary:hover{background-color:#c8cbcf}
.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th{background-color:#c8cbcf}
.table-success,.table-success>td,.table-success>th{background-color:#c3e6cb}
.table-success tbody+tbody,.table-success td,.table-success th,.table-success thead th{border-color:#8fd19e}
.table-hover .table-success:hover{background-color:#b1dfbb}
.table-hover .table-success:hover>td,.table-hover .table-success:hover>th{background-color:#b1dfbb}
.table-info,.table-info>td,.table-info>th{background-color:#bee5eb}
.table-info tbody+tbody,.table-info td,.table-info th,.table-info thead th{border-color:#86cfda}
.table-hover .table-info:hover{background-color:#abdde5}
.table-hover .table-info:hover>td,.table-hover .table-info:hover>th{background-color:#abdde5}
.table-warning,.table-warning>td,.table-warning>th{background-color:#ffeeba}
.table-warning tbody+tbody,.table-warning td,.table-warning th,.table-warning thead th{border-color:#ffdf7e}
.table-hover .table-warning:hover{background-color:#ffe8a1}
.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th{background-color:#ffe8a1}
.table-danger,.table-danger>td,.table-danger>th{background-color:#f5c6cb}
.table-danger tbody+tbody,.table-danger td,.table-danger th,.table-danger thead th{border-color:#ed969e}
.table-hover .table-danger:hover{background-color:#f1b0b7}
.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th{background-color:#f1b0b7}
.table-light,.table-light>td,.table-light>th{background-color:#fdfdfe}
.table-light tbody+tbody,.table-light td,.table-light th,.table-light thead th{border-color:#fbfcfc}
.table-hover .table-light:hover{background-color:#ececf6}
.table-hover .table-light:hover>td,.table-hover .table-light:hover>th{background-color:#ececf6}
.table-dark,.table-dark>td,.table-dark>th{background-color:#c6c8ca}
.table-dark tbody+tbody,.table-dark td,.table-dark th,.table-dark thead th{border-color:#95999c}
.table-hover .table-dark:hover{background-color:#b9bbbe}
.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th{background-color:#b9bbbe}
.table-active,.table-active>td,.table-active>th{background-color:rgba(0,0,0,.075)}
.table-hover .table-active:hover{background-color:rgba(0,0,0,.075)}
.table-hover .table-active:hover>td,.table-hover .table-active:hover>th{background-color:rgba(0,0,0,.075)}
.table .thead-dark th{color:#fff;background-color:#343a40;border-color:#454d55}
.table .thead-light th{color:#495057;background-color:#e9ecef;border-color:#dee2e6}
.table-dark{color:#fff;background-color:#343a40}
.table-dark td,.table-dark th,.table-dark thead th{border-color:#454d55}
.table-dark.table-bordered{border:0}
.table-dark.table-striped tbody tr:nth-of-type(odd){background-color:rgba(255,255,255,.05)}
.table-dark.table-hover tbody tr:hover{color:#fff;background-color:rgba(255,255,255,.075)}
@media (max-width:575.98px){.table-responsive-sm{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}
.table-responsive-sm>.table-bordered{border:0}
}
@media (max-width:767.98px){.table-responsive-md{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}
.table-responsive-md>.table-bordered{border:0}
}
@media (max-width:991.98px){.table-responsive-lg{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}
.table-responsive-lg>.table-bordered{border:0}
}
@media (max-width:1199.98px){.table-responsive-xl{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}
.table-responsive-xl>.table-bordered{border:0}
}
.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}
.table-responsive>.table-bordered{border:0}

.breadcrumb {background-color:#fff;border-bottom:1px solid #ddd}

.navbar-default {
  box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
 }