@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Roboto+Mono);

html { width: 100%; height: 100%;}

#wrapper {
    width: 100%;
}


body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  /*font-family: 'Open Sans',Helvetica,Arial,sans-serif;*/
   font-weight:200;
  color: #4f5f6f;
  overflow-x: hidden;
   }
label{
  display:inline-block;
  max-width:100%;
  margin-bottom:5px;
  font-weight:100;
}
a{
  color:#999;
  text-decoration:none;
}
a:focus,a:hover{
  color:#fe821d;
  text-decoration:underline;
}

.navbar-head { margin-right: 20px;
 border:none;border-radius:0 0 0 0;
  box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,0.1),
              0 .9375rem 1.40625rem rgba(90,97,105,.1),
              0 .25rem .53125rem rgba(90,97,105,1.12),
              0 .125rem .1875rem rgba(90,97,105,.1);
    background-color:#e7e7e7;
    height: 50px;
    margin:0px; padding:0px;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(0,0,0,0.3);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
/*
.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s;
}
.sidebar ul li a {
    display: block;
    padding: .75rem 1rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}
.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .25);
}
.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
}*/
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}


    

    .user-panel {
    clear: left;
    display: block;
    float: left;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel>.info,  .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.fliph .user-panel{ display: none; }




/* Head Dashboard */

.active-head {
    color: #fff;
    background-color:#fe821d !important;}


/* Logo */
.img {
  max-width: 100%;
  width: 250px;
  height: 50px;
}

.copy {
  font-size: 9px;
  color: #fff;
}


/* Button */
.btn {
  background-image: none;
  border-radius: 0;
  margin-bottom: 5px; }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #fe821d;
    border-color: #fe821d; }
    .btn.btn-primary:hover {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401; }
    .btn.btn-primary:focus, .btn.btn-primary.focus {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401; }
    .btn.btn-primary:active, .btn.btn-primary.active,
    .open > .btn.btn-primary.dropdown-toggle {
      color: #ffffff;
      background-color: #e76901;
      border-color: #dd6401;
      background-image: none; }
      .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus,
      .open > .btn.btn-primary.dropdown-toggle:hover,
      .open > .btn.btn-primary.dropdown-toggle:focus,
      .open > .btn.btn-primary.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #c45901;
        border-color: #9b4601; }
    .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus {
      background-color: #fe821d;
      border-color: #fe821d; }
    .btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
      background-color: #fe821d;
      border-color: #fe821d; }

.btn.btn-primary {
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-secondary{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-success{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-info{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-warning{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}
.btn-danger{
  border-radius: 0px;
   box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
}


.admin-nav-modal {
  color: #fff;
}
.admin-nav {
  background-color:#3a4651;
  border:none;border-radius:0 0 0 0;
  box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);
  
}

.sidebar-nav {
  margin-right: 10px;
 
 border:none;border-radius:0 0 0 0;
 box-shadow: 3px 3px 5px 3px rgba(90,97,105,.62);

    width:291px;  
    background-color:#3a4651;
    min-height: 100vh;
    font-size: 14px;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #3a4651;
}

.sidebar-nav .metismenu {
    background-color:#3a4651;
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu li + li {
  margin-top: 0px;
}

.sidebar-nav .metismenu li:first-child {
  margin-top: 0px;
}
.sidebar-nav .metismenu li:last-child {
  margin-bottom: 0px;
}


.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #fff;
    outline-width: 0;
    transition: all .3s ease-out;
    background-color:#3a4651;
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
    background-color:#2d363f;

}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;

}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active > a {
    color: #f8f9fa;
    text-decoration: none;
    background: #fe821d;
}


/* Spalten */
.bte {
  border-top: 1px solid #DDD;
  padding: 5px 0px;
  margin: 0px 10px;
}
.bt {
  border-top: 1px solid #DDD;
  padding: 5px 0px;
  margin: 0px 10px;
}
.bt:first-child {
  border-top: 0px;
}

.breadcrumb {background-color:#fff;border-bottom:1px solid #ddd}


.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.pagination>li>a,.pagination>li>span{
    position:relative;
    float:left;padding:6px 12px;
    margin-left:-1px;
    line-height:1.42857143;
    color:#fe821d;
    text-decoration:none;
    background-color:#fff;
    border:1px solid #ddd
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
    z-index:3;
    color:#fff;
    cursor:default;
    background-color:#fe821d;
    border-color:#fe821d
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    background:#ececec;
    border-left:5px solid #FF7F00;
    
  
}




/* card Design */
.card{margin-bottom: 10px;background-color: #ffffff;border:none;border-radius:0 0 0 0;box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,0.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1)}
.card .card-text{margin-bottom:1.5625rem}
.card a:hover{text-decoration:none}
.card-body{padding:1.875rem}
.card-title{font-weight:500;margin-bottom:.75rem}
.card-link{font-family:Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif}
.card-link+.card-link{margin-left:1.875rem}
.card>.list-group:first-child .list-group-item:first-child{border-top-left-radius:0;border-top-right-radius:0}
.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}
.card .list-group-item{padding:.8125rem 1.875rem}
.card-header{padding:1.09375rem 1.875rem;background-color:rgba(90,97,105,.06);border-bottom:none}
.card-header:first-child{border-radius:0 0 0 0}
.card-footer{padding:1.09375rem 1.875rem;background-color:rgba(90,97,105,.06);border-top:none}
.card-footer:last-child{border-radius:0 0 0 0}
.card-header-tabs{margin-bottom:-1rem;border-bottom:0}
.card-header-tabs .nav-link:hover{border-bottom:transparent}
.card-img-overlay{padding:1.875rem 2.1875rem;background:rgba(90,97,105,.5);border-radius:0}
.card-img-overlay .card-title{color:##333}
.card-img{border-radius:0}
.card-img-top{border-top-left-radius:0;border-top-right-radius:0}
.card-img-bottom{border-bottom-right-radius:0;border-bottom-left-radius:0}










/*!
* metismenu https://github.com/onokumus/metismenu#readme
* A jQuery menu plugin
* @version 3.0.4
* @author Osman Nuri Okumus <onokumus@gmail.com> ()
* @license: MIT 
*/
.metismenu .arrow{float:right;line-height:1.42857}[dir=rtl] 
.metismenu .arrow{float:left}
.metismenu .glyphicon.arrow:before{content:"\e079"}
.metismenu .mm-active>a>.glyphicon.arrow:before{content:"\e114"}
.metismenu .fa.arrow:before{content:"\f104"}
.metismenu .mm-active>a>.fa.arrow:before{content:"\f107"}
.metismenu .ion.arrow:before{content:"\f3d2"}
.metismenu .mm-active>a>.ion.arrow:before{content:"\f3d0"}
.metismenu .plus-times{float:right}[dir=rtl] 
.metismenu .plus-times{float:left}
.metismenu .fa.plus-times:before{content:"\f067"}
.metismenu .mm-active>a>.fa.plus-times{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.metismenu .plus-minus{float:right}[dir=rtl] 
.metismenu .plus-minus{float:left}
.metismenu .fa.plus-minus:before{content:"\f067"}
.metismenu .mm-active>a>.fa.plus-minus:before{content:"\f068"}
.metismenu .mm-collapse:not(.mm-show){display:none}
.metismenu .mm-collapsing{position:relative;height:0;overflow:hidden;transition-timing-function:ease;transition-duration:.35s;transition-property:height,visibility}
.metismenu .has-arrow{position:relative}
.metismenu .has-arrow:after{position:absolute;content:"";width:.5em;height:.5em;border-style:solid;border-width:1px 0 0 1px;border-color:initial;
right:1em;-webkit-transform:rotate(-45deg) translateY(-50%);transform:rotate(-45deg) translateY(-50%);-webkit-transform-origin:top;transform-origin:top;top:50%;transition:all .3s ease-out}[dir=rtl] 
.metismenu .has-arrow:after{right:auto;left:1em;-webkit-transform:rotate(135deg) translateY(-50%);transform:rotate(135deg) translateY(-50%)}
.metismenu .has-arrow[aria-expanded=true]:after,
.metismenu .mm-active>.has-arrow:after{-webkit-transform:rotate(-135deg) translateY(-50%);transform:rotate(-135deg) translateY(-50%)}[dir=rtl] 
.metismenu .has-arrow[aria-expanded=true]:after,[dir=rtl] 
.metismenu .mm-active>.has-arrow:after{-webkit-transform:rotate(225deg) translateY(-50%);transform:rotate(225deg) translateY(-50%)}
/*# sourceMappingURL=metisMenu.min.css.map */