/*!
 * Start Bootstrap - SB Admin 2 (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */



.sidebar ul li a{
    color: #ffffff;
    }





.sidebar ul li {

    background-color: #3a4651;
    border-bottom: 1px solid #e7e7e7;
    color: #fff;
    width: 250px;
    }

.sidebar ul li a:hover{
    color: #ffffff;
    background-color: #fe821d; 
width: 250px;}

.sidebar ul li a.active {
    
    color: #ffffff;
      background-color: #fe821d; 
  width: 250px;}

.sidebar ul li a:focus, .btn.btn-primary.focus {
      color: #ffffff;
      background-color: #fe821d;
  width: 250px;}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
   background-color: #2d363f !important;
      color: #ffffff !important; 
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.custom {
    width: 98px !important;
}


